In [1]:
import micom as mc
com = mc.load_pickle("../../../data/community.pickle")

Set parameter Username
Academic license - for non-commercial use only - expires 2023-08-10
Read LP format model from file C:\Users\domin\AppData\Local\Temp\tmpb84gvsq9.lp
Reading time = 0.18 seconds
: 4042 rows, 11287 columns, 43241 nonzeros

In [2]:
com.taxonomy

          id  genus   species                 file  abundance
id
AG_uc  AG_uc  ecoli  Ecoli AG  project/data/AG.xml        0.5
GD_uc  GD_uc  ecoli  Ecoli GD  project/data/GD.xml        0.5

In [6]:
sol = com.optcom('original')

In [7]:
sol

In [9]:
results = []
with com as m:
    for i in range(0,11):
        m.reactions.EX_xyl__D_m.lower_bound = -i
        results.append(com.optcom('original'))

In [16]:
# should I pickle results?
a = results[-1]
a